-- Promo codes tables
create table if not exists promo_codes (
  id uuid default gen_random_uuid() primary key,
  code text unique not null,
  discount_type text check (discount_type in ('percentage', 'fixed')) not null,
  discount_value numeric(10,2) not null,
  usage_limit integer,
  used_count integer default 0,
  is_unlimited boolean default false,
  status text check (status in ('active', 'inactive')) default 'active',
  created_at timestamp default now()
);

create table if not exists promo_code_usage (
  id uuid default gen_random_uuid() primary key,
  promo_code_id uuid references promo_codes(id),
  user_id text,
  user_name text,
  phone text,
  order_id text,
  used_at timestamp default now()
);

create index if not exists idx_promo_codes_code on promo_codes (code);
create index if not exists idx_promo_code_usage_code on promo_code_usage (promo_code_id, used_at desc);
